
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
}



body{
    height: 100vh;
    background-image: url("/image/timsum.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    
    font-family: 'Azeret Mono', monospace;
}

.logo{
    font-size: 60px;
    cursor: pointer
}


header{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    align-items: center;
    
}
nav{
    
    

    list-style: none;
}

nav li {
    
    display: inline-block;
   
    
}

nav li a{
    text-decoration:none;
    font-size: 22px;
    margin-right: 3em;
    transition: 0.3s;
    text-transform: uppercase;
    
}

nav li a:hover{
    color: rgb(179, 22, 158);
}

.link::after{
    content: '';
    display:block;
    width: 0;
    height: 2px;
    background: rgb(0, 0, 0);
    transition: width .5s;
    



}

.link:hover::after{
    width: 100%;
    transition: width .3s;
    font-size: 30px;
}


div section {
    background-color:rgb(250, 236, 221);
    height: 50px;
    
    

}



.middle{
    height: 50%;
   
    justify-content: space-between;
    display: flex;
    margin: 30px;
    
    padding: 10px;

   
}
.middle div img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    float: right;
    margin-top: 15px;
   
}

.box1{
    margin-right: 10px;
    background-color: rgb(206, 206, 116);
    border-radius: 30px;
    padding: 14px;
    
}
.box2{
    margin-right: 10px;
    background-color: rgb(206, 206, 116);
    border-radius: 30px;
    padding: 14px; 
    
}


